.intro-container {
  width: 100vw;
  height: 100vh;
}

.intro-day {
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.intro-day span {
  height: 200px;
  line-height: 200px;
  position: absolute;
  right: 10%;
  top: 30%;
  color: rgb(255, 217, 0);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 10rem;
  cursor: pointer;
}

.intro-night {
  width: 50%;
  height: 100%;
  background-color: rgb(31, 40, 68);
  display: inline-block;
  position: relative;
}

.intro-night span {
  height: 200px;
  line-height: 200px;
  position: absolute;
  left: 10%;
  top: 60%;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 10rem;
  cursor: pointer;
}

