/* common */
.music-player {
  width: 360px;
  height: 750px;
  border-radius: 30px;
  background: linear-gradient(rgb(49, 51, 58), rgb(28, 29, 34));
  box-shadow: 20px 20px 50px 25px rgb(37, 38, 44);
  position: relative;
  overflow: hidden;
}


/* front */

/* header */
.header {
  width: 100%;
  height: 90px;
}

/* buttons in header */
.header .circle,
.header .circle-shadow {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.header .circle {
  background-color: rgb(48, 50, 56);
  box-shadow: -6px -4px 10px rgb(60, 64, 75);
}

.header .circle-shadow {
  /* background-color: rgb(55, 57, 65); */
  box-shadow: 6px 4px 10px rgb(36, 38, 44);
}

.header .inner-button {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  background: linear-gradient(to bottom right, rgb(65, 67, 77), rgb(36, 37, 43));
}

/* playing list */
.playing-list {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 15px;
}

.playing-list .circle,
.playing-list .circle-shadow {
  position: absolute;
  top: 20px;
  left: 15px;
}

.playing-list .inner-button {
  position: absolute;
  top: 23px;
  left: 18px;
  background: linear-gradient(to bottom right, rgb(65, 67, 77), rgb(36, 37, 43));
}

.playing-list .button-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 20px;
  left: 15px;
  color: rgb(184, 184, 184);
  line-height: 45px;
}

/* menu */
.header .menu {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: 15px;
}

.header .menu .circle,
.header .menu .circle-shadow {
  position: absolute;
  top: 20px;
  right: 15px;
}

.header .menu .inner-button {
  position: absolute;
  top: 23px;
  right: 18px;
  background: linear-gradient(to bottom right, rgb(65, 67, 77), rgb(36, 37, 43));
}

.header .menu .button-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 20px;
  right: 15px;
  color: rgb(184, 184, 184);
  line-height: 45px;
}

/* now playing */
.header .playing {
  width: 140px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 110px;
  font-family: 'Inter', sans-serif;
  color: rgb(184, 184, 184);
  font-weight: 600;
  line-height: 80px;
}


/* album cover */
.album-cover {
  width: 100%;
  height: 360px;
  position: relative;
}

.album-cover .circle,
.album-cover .circle-shadow,
.album-cover .inner-album {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  left: 40px;
}

.album-cover .circle {
  background-color: rgb(42, 44, 49);
  box-shadow: -6px -4px 10px rgb(60, 64, 75);
}

.album-cover .circle-shadow {
  /* background-color: rgb(55, 57, 65); */
  box-shadow: 6px 4px 10px rgb(36, 38, 44);
}

.album-cover .inner-album {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
}

.album-cover .inner-album img {
  width: 100%;
  height: 100%;
}


/* music content */
.music-content {
  width: 100%;
  height: 70px;
}

.music-content .title,
.music-content .singer {
  font-family: 'Inter', sans-serif;
  color: rgb(202, 202, 202);
}

.music-content .title {
  font-weight: 600;
  font-size: 1.6rem;
}

.music-content .singer {
  margin-top: 10px;
  font-weight: 400;
}


/* playing bar */
.playing-bar {
  width: 100%;
  height: 70px;
  position: relative;
}

.playing-bar .time {
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  position: relative;
  font-family: 'Inter', sans-serif;
  color: rgb(202, 202, 202);
  font-size: 0.7rem;
}

.playing-bar .time .now-time {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.playing-bar .time .end-time {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.playing-bar .bar {
  margin: 0 auto;
  width: 320px;
  height: 8px;
  background-color: rgb(17, 17, 19);
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgb(66, 66, 71);
  overflow: hidden;
}

.playing-bar .bar .playing-length {
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgb(240, 164, 0), rgb(255, 243, 81));
}

.playing-bar .now-playing {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 12px);
  background-color: rgb(65, 67, 75);
  box-shadow: 6px 6px 13px rgb(26, 26, 24);
  border-radius: 100%;
}

.playing-bar .now-playing .now {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: rgb(65, 67, 75);
  box-shadow: -4px -1px 7px rgb(75, 75, 65);
}

.playing-bar .now-playing-shadow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: -6px -6px 13px rgb(158, 158, 211);
}

.playing-bar .now-playing .now-inner {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 6px;
  background-color: rgb(255, 243, 81);
}


/* plyaer buttons */
.player-buttons {
  position: relative;
}

.player-buttons .circle,
.player-buttons .circle-shadow {
  border-radius: 100%;
  position: absolute;
}

.player-buttons .circle {
  background: linear-gradient(to bottom right, rgb(59, 62, 71), rgb(36, 37, 44));
  box-shadow: -6px -4px 10px rgb(49, 52, 61);
}

.player-buttons .circle-shadow {
  /* background-color: rgb(55, 57, 65); */
  box-shadow: 6px 4px 10px rgb(30, 32, 37);
}

/* previous */
.previous {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  left: 40px;
}

.previous .circle,
.previous .circle-shadow {
  width: 70px;
  height: 70px;
}

.previous .button-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 12px;
  color: rgb(184, 184, 184);
  line-height: 40px;
  font-size: 1.3rem;
}

/* play / pause */
.play-pause {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  left: 135px;
}

.play-pause .circle,
.play-pause .circle-shadow {
  width: 90px;
  height: 90px;
}

.play-pause .circle-shadow {
  background-color: rgb(255, 196, 34);
}

.play-pause .inner-button {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(to bottom right, rgb(212, 129, 4), rgb(255, 241, 48));
  overflow: hidden;
}

.play-pause .button-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  left: 23px;
  color: rgb(255, 255, 255);
  line-height: 40px;
  font-size: 1.6rem;
}

/* next */
.next {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  right: 40px;
}

.next .circle,
.next .circle-shadow {
  width: 70px;
  height: 70px;
}

.next .button-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  right: 12px;
  color: rgb(184, 184, 184);
  line-height: 40px;
  font-size: 1.3rem;
}


